:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --logo-color:#5D5D6D;
  --orange-low:#FFA585;
  --bg-secondary: #f3f5f6;
  --text-dark: #737380;
  --delete-color:#DE3838;
  --white:#fff;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

